<div class="container">
    <div class="page-header">
        <h1>
            Bids
             <small>create or select bid</small>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <bids-panel></bids-panel>
        </div>
    </div>
</div>