<div class="container">
    <div class="page-header">
        <h1>
            Games
             <small>with you</small>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <games-panel></games-panel>
        </div>
    </div>
</div>