<div class="container">
    <div class="page-header">
        <h1>
            Game
             <small>{{game.gamers[0].user.email}} VS {{game.gamers[1].user.email}}</small>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <game-panel></game-panel>
        </div>
    </div>
</div>