<div class="container">
    <div class="page-header">
        <h1>
            Getting started
             <small>GO Game</small>
        </h1>
    </div>
    <div class="panel">
        <div class="panel-body row">
            <div class="col-md-4 col-sm-4"><img src="/res/images/goban.jpg" class="thumbnail"/></div>
            <div class="col-md-8 col-sm-8">
                <p>Go is a board game for two players that originated in China more than 2,500 years ago. The game is noted for being rich in strategy despite its relatively simple rules. According to chess master Emanuel Lasker: "The rules of Go are so elegant, organic, and rigorously logical that if intelligent life forms exist elsewhere in the universe, they almost certainly play Go."</p>
                <p>Go is an adversarial game with the objective of surrounding more territory than one's opponent.[3] As the game progresses, the board gets divided up into areas of territory, as outlined by groups of stones. These areas are then contested in local battles, which are often complicated, and may result in the expansion, reduction, or wholesale capture and loss of the contested area. It is often the case that a certain kind of "trade" goes on, where a player's loss in one part of the board can be compensated for or mitigated by a gain in another part of the board.</p>
                <p ng-show="session.performed && session.roles.isUser"><a href="/bids" class="btn btn-primary btn-lg">Go To Bids</a></p>
                <p ng-show="session.performed && !session.roles.isUser"><a href="/signin" class="btn btn-primary btn-lg">Sign in</a></p>
            </div>
        </div>
    </div>
</div>