<div class="container">
    <div class="page-header">
        <h1>
            Sign up
             <small>for GO Game</small>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <signup-form></signup-form>
        </div>
    </div>
</div>