<div>
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>User</th>
            <th>Date and time of creation</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="bid in bids.items" ng-class="{success: bid.accepted}">
            <td>{{bid.user.email}}</td>
            <td>{{bid.timecreate | date:'H:i:s d.m.Y'}}</td>
            <td>
                <button ng-hide="bids.myBid.id == bid.id || !bids.performed" type="button" ng-click="bids.accept(bid)" ng-disabled="bid.accepted" class="btn btn-sm btn-success"> Accept</button>
            </td>
        </tr>
    </table>
    <button ng-hide="bids.myBid || !bids.performed" type="button" ng-click="bids.create()" class="btn btn-lg btn-info">Create Bid</button>
</div>