<div>
    <div class="game-panel">
        <div ng-if="!!game.board" ng-class="{white: game.isMyStep() && game.player.iswhite, black: game.isMyStep() && game.player && !game.player.iswhite}" class="board">
            <div class="board-backdrop">
                <div ng-repeat="row in game.board" class="board-backdrop-row">
                    <div ng-repeat="cell in row" class="board-backdrop-cell"></div>
                </div>
            </div>
            <div class="board-container">
                <div ng-repeat="row in game.board" class="board-row">
                    <div ng-repeat="cell in row" ng-class="{empty: !cell.stone, white: cell.stone.iswhite, black: cell.stone && !cell.stone.iswhite}" ng-click="game.step(cell)" class="board-cell"></div>
                </div>
            </div>
        </div>
        <div class="game-state">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h4>
                        Player
                         <span ng-show="game.isMyStep()" class="label label-success">Step</span>
                    </h4>
                    <p>{{game.player.user.email}}</p>
                    <p><span ng-show="game.player.iswhite">White</span><span ng-show="!game.player.iswhite">Black</span></p>
                    <p>
                        Deaths
                         <span class="label label-danger">{{game.player.deaths | length}}</span>
                    </p>
                    <p> </p>
                    <p>
                        <button type="button" ng-click="game.pass()" ng-disabled="!game.isMyStep()" class="btn btn-info">Pass</button>
                    </p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <h4>
                        Opponent
                         <span ng-show="game.game && !game.game.isclosed && !game.isMyStep()" class="label label-success">Step</span>
                    </h4>
                    <p>{{game.opponent.user.email}}</p>
                    <p><span ng-show="game.opponent.iswhite">White</span><span ng-show="!game.opponent.iswhite">Black</span></p>
                    <p>
                        Deaths
                         <span class="label label-danger">{{game.opponent.deaths | length}}</span>
                    </p>
                </div>
            </div>
            <hr/>
            <p>
                <button type="button" ng-click="game.quit()" class="btn btn-danger">Quit</button>
            </p>
        </div>
    </div>
    </div>