<div>
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>User</th>
            <th>Points</th>
            <th>User</th>
            <th>Points</th>
            <th>Date</th>
        </tr>
        <tr ng-repeat="game in games.items" ng-class="{success: game.win, warning: game.lose}">
            <td>{{game.gamers[0].user.email}} ({{game.gamers[0].user.rating}}) {{game.gamers[0].user.gamewin}}:{{game.gamers[0].user.gamelose}}</td>
            <td>{{game.gamers[0].point}}</td>
            <td>{{game.gamers[1].user.email}} ({{game.gamers[1].user.rating}}) {{game.gamers[1].user.gamewin}}:{{game.gamers[1].user.gamelose}}</td>
            <td>{{game.gamers[1].point}}</td>
            <td>{{timeAgo(game.dtc)}}</td>
        </tr>
    </table>
</div>