<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header"><a href="/" class="navbar-brand">GO</a></div>
        <ul ng-show="session.roles.isUser" class="nav navbar-nav">
            <li ng-class="{active: pathStartWith('/bids')}"><a href="/bids">Bids</a></li>
            <li ng-class="{active: pathStartWith('/games')}"><a href="/games">Games</a></li>
        </ul>
        <div class="pull-right"><a href="/signin" ng-show="session.performed && !session.roles.isUser" class="btn navbar-btn">Sign in</a><a href="/signup" ng-show="session.performed && !session.roles.isUser" class="btn btn-default navbar-btn">Sign up</a>
            <button type="button" ng-click="signout()" ng-show="session.performed && session.roles.isUser" class="btn btn-default navbar-btn">Sign out</button>
            <div loading-indicator="loading-indicator" class="navbar-indicator loading-indicator">
                <div ng-class="{in: indicator.isLoading}" class="spinner fade"></div>
            </div>
        </div>
    </div>
</nav>