<form ng-submit="signup()" class="form-horizontal">
    <div ng-show="userConflict" class="form-group has-error">
        <div class="col-md-offset-3 col-md-9">
            <p ng-show="userConflict" class="help-block">User already exist</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Email</label>
        <div class="col-md-9">
            <input type="text" placeholder="Email" name="email" ng-model="model.email" required="required" ng-maxlength="200" class="form-control"/>
        </div>
        <div class="col-md-offset-3 col-md-9">
            <p ng-show="form.email.$dirty && form.email.$invalid" class="help-block"><span class="text-warning"> Must be<span ng-show="form.email.$error.required"> required</span><span ng-show="form.email.$error.maxlength"> less then 200</span><span ng-show="form.email.$error.email"> same as mail@google.com</span></span></p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Password</label>
        <div class="col-md-9">
            <input type="password" placeholder="Password" name="password" ng-model="model.password" required="required" ng-minlength="5" ng-maxlength="20" class="form-control"/>
        </div>
        <div class="col-md-offset-3 col-md-9">
            <p ng-show="form.password.$dirty && form.password.$invalid" class="help-block"><span class="text-warning"> Must be<span ng-show="form.password.$error.required"> required</span><span ng-show="form.password.$error.minlength"> greater then 5</span><span ng-show="form.password.$error.maxlength"> less then 20</span></span></p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button type="submit" ng-class="{disabled: form.$invalid}" class="btn btn-default">Sign up</button>
        </div>
    </div>
</form>