<ion-view title="Игра Го">
    <ion-content>

        <div class="list list-inset">
            <label class="item item-input">
                <input type="email" placeholder="Email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Пароль">
            </label>
        </div>

        <div class="padding">
            <button class="button button-block button-positive">
                Войти
            </button>
            <a class="button button-block button-stable" href="#/signup">
                Регистрация
            </a>
        </div>

    </ion-content>
</ion-view>