<ion-view title="Игра Го">
    <ion-content>

        <div class="list">
            <label class="item item-input">
                <span class="input-label">Имя</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Фамилия</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Псевдоним</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email">
            </label>
            <label class="item item-input">
                <span class="input-label">Пароль</span>
                <input type="password">
            </label>
        </div>

        <div class="padding">
            <button class="button button-block button-positive">
                Создать аккаунт
            </button>
        </div>

    </ion-content>
</ion-view>