
.game-panel {
  @include clearfix();
}

$board-cell-size: 40px;

.board {
  position: relative;
  width: $board-cell-size * 9;
  height: $board-cell-size * 9;
  border-radius: 3px;
  display: table-cell;
  vertical-align: top;
}

.board-backdrop {
  padding: $board-cell-size/2 $board-cell-size/2+1 $board-cell-size/2+1 $board-cell-size/2;
  background: #F2C986;
}

.board-backdrop-row {
  @include clearfix();
  margin-top: -1px;
  width: $board-cell-size * 8;
  &:first-child {
    display: none;
  }
}

.board-backdrop-cell {
  border: 1px solid #FFF;
  margin: 0 -1px -1px 0;
  width: $board-cell-size+1;
  height: $board-cell-size+1;
  float: left;
  &:first-child {
    display: none;
  }
}

.board-container {
  position: absolute;
  left: 0;
  top: 0;
}

.board-row {
  @include clearfix();
}

.board-cell {
  width: $board-cell-size;
  height: $board-cell-size;
  float: left;
  &.white {
    background: url('#{$main-images-path}/w.png') no-repeat center;
  }
  &.black {
    background: url('#{$main-images-path}/b.png') no-repeat center;
  }
  &.empty {
  }
}

.board.white .board-cell.empty:hover {
  background: url('#{$main-images-path}/w.png') no-repeat center;
}
.board.black .board-cell.empty:hover {
  background: url('#{$main-images-path}/b.png') no-repeat center;
}

.game-state {
  display: table-cell;
  vertical-align: top;
  padding-left: 15px;
  width: 100%;
}
